 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I am mastering HTML/CSS/SASS, able to create effortless and beautiful websites with a sleek, professional look.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I build fast, responsive and engaging websites that bring your ideas to life. ReactJS and NodeJS is my core skills in full stack development</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-webpack-original colored"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p>I follow git flow development methodology and focus on performance to make my project to be a production level</p>
    </div>
</div>
