<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/traders.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> TradingGemini </h3>
    <ul>
      <li>ReactJS NodeJS MT4</li>
    </ul>
    <p>Fintech platform that helps traders to make a decision from signals. Integrated trading chart, chatting channel, payment gateway.</p>
    <a class="project-link" href="https://tradersgemini.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cynet.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cynet Health </h3>
    <ul>
      <li> ReactJS Ruby on Rails</li>
    </ul>
    <p>It provides range of Health Med and Health Tech Solutions to global healthcare clients. Integrated Stripe</p>
    <a class="project-link" href="https://www.cynethealth.com/">Check it out</a>
  </div>
</div>
